/* style.css */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(blue, white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #343a40;
}

.todo-container {
    background: #d66666;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.btn {
    font-size: 1rem;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.list-group-item button {
    margin-left: 5px;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}
